# <img style="float: left; padding-right: 10px; width: 45px" src="https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/iacs.png"> CS109A Introduction to Data Science 

## Lecture 1: Example


**Harvard University**<br/>
**Fall 2020**<br/>
**Instructors**: Pavlos Protopapas, Kevin Rader, and Chris Tanner

---

# Заголовок

**часть 1: чтение данных, изучение их и формулируют вопросы.**

# Описание

**Введение**: Hubway была программой Metro-Boston Public Bike Share, с более чем 1600 велосипедов на 160+ станциях в районе Большого Бостона.Hubway принадлежал четырем муниципалитетам в этом районе.

К 2016 году Hubway управлял 185 станциями и 1750 велосипедов, и с момента запуска в 2011 году 5 миллионов.

**Данные**: В апреле 2017 года Hubway провел задачу визуализации данных в Центре Microsoft NERD в Кембридже, выпустив 5 -летние данные о поездке.


**Вопрос**: Что данные рассказывают нам о программе обмена ездой?


Первоначальный вопрос:** «Что данные говорят нам о программе поездок?»** - разумный лозунг для продвижения хакатона.Это не хорошо для руководства научным исследованием.


Прежде чем мы сможем уточнить вопрос, мы должны посмотреть на данные!

Примечание. Здесь мы переключаем порядок «процесса науки данных»

In [1]:
import pandas as pd
import seaborn as sns
sns.set(style="ticks")
%matplotlib inline

In [2]:
import os
# положим путь файлов в переменные
HUBWAY_STATIONS_FILE = os.path.join('hubway_stations.csv')
HUBWAY_TRIPS_FILE = os.path.join('tripsthrough.csv')

In [3]:
#  прочтем датасет
hubway_data = pd.read_csv(HUBWAY_TRIPS_FILE, index_col=0, low_memory=False)
hubway_data.head()

,hubway_id,status,duration,start_date,strt_statn,end_date,end_statn,bike_nr,subsc_type,zip_code,birth_date,gender
seq_id,,,,,,,,,,,,
1,8,Closed,9,2011-07-28 10:12:00,23.0,2011-07-28 10:12:00,23.0,B00468,Registered,'97217,1976.0,Male
2,9,Closed,220,2011-07-28 10:21:00,23.0,2011-07-28 10:25:00,23.0,B00554,Registered,'02215,1966.0,Male
3,10,Closed,56,2011-07-28 10:33:00,23.0,2011-07-28 10:34:00,23.0,B00456,Registered,'02108,1943.0,Male
4,11,Closed,64,2011-07-28 10:35:00,23.0,2011-07-28 10:36:00,23.0,B00554,Registered,'02116,1981.0,Female
5,12,Closed,12,2011-07-28 10:37:00,23.0,2011-07-28 10:37:00,23.0,B00554,Registered,'97214,1983.0,Female

## Базовые резюме. Описание датасета

In [9]:
# просмотрим описательную статистику непрерывных независимых переменных
hubway_data.describe()

,hubway_id,duration,strt_statn,end_statn,birth_date
count,674350.000000,6.743500e+05,674336.000000,674305.000000,350644.000000
mean,381806.766276,1.560357e+03,41.175871,41.054369,1976.295322
std,219696.069920,4.028090e+04,23.326194,23.198199,10.999742
min,8.000000,-6.660000e+03,3.000000,3.000000,1932.000000
25%,191560.500000,4.050000e+02,22.000000,22.000000,1969.000000
50%,382518.500000,6.630000e+02,40.000000,40.000000,1979.000000
75%,571534.750000,1.161000e+03,54.000000,54.000000,1985.000000
max,761917.000000,1.199446e+07,141.000000,141.000000,1995.000000

## Просмотреть типа данных

In [10]:
hubway_data.dtypes

hubway_id       int64
status         object
duration        int64
start_date     object
strt_statn    float64
end_date       object
end_statn     float64
bike_nr        object
subsc_type     object
zip_code       object
birth_date    float64
gender         object
dtype: object