# <img style="float: left; padding-right: 10px; width: 45px" src="https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/iacs.png"> CS109A Introduction to Data Science 

## Lecture 1: Example


**Harvard University**<br/>
**Fall 2020**<br/>
**Instructors**: Pavlos Protopapas, Kevin Rader, and Chris Tanner

---

# Title

**Hub data, part 1: Reading data, examining them and formulate questions.**

# Description

**Introduction**: Hubway was metro-Boston’s public bike share program, with more than 1600 bikes at 160+ stations across the Greater Boston area. Hubway was owned by four municipalities in the area.

By 2016, Hubway operated 185 stations and 1750 bicycles, with 5 million ride since launching in 2011.

**The Data**: In April 2017, Hubway held a Data Visualization Challenge at the Microsoft NERD Center in Cambridge, releasing 5 years of trip data.


**The Question**: What does the data tell us about the ride share program?


The original question: **‘What does the data tell us about the ride share program?’** is a reasonable slogan to promote a hackathon. It is not good for guiding scientific investigation.


Before we can refine the question, we have to look at the data! 

Note: Here we switch the order of the "data science process"

<img src="../img/data_science_process.png" style="width: 500px;">

In [1]:
import sys
import zipfile
import datetime
import numpy as np
import scipy as sp
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from math import radians, cos, sin, asin, sqrt
from sklearn.linear_model import LinearRegression

sns.set(style="ticks")
%matplotlib inline

In [2]:
import os

HUBWAY_STATIONS_FILE = os.path.join('hubway_stations.csv')
HUBWAY_TRIPS_FILE = os.path.join('tripsthrough.csv')

In [3]:
hubway_data = pd.read_csv(HUBWAY_TRIPS_FILE, index_col=0, low_memory=False)
hubway_data.head()

,hubway_id,status,duration,start_date,strt_statn,end_date,end_statn,bike_nr,subsc_type,zip_code,birth_date,gender
seq_id,,,,,,,,,,,,
1,8,Closed,9,2011-07-28 10:12:00,23.0,2011-07-28 10:12:00,23.0,B00468,Registered,'97217,1976.0,Male
2,9,Closed,220,2011-07-28 10:21:00,23.0,2011-07-28 10:25:00,23.0,B00554,Registered,'02215,1966.0,Male
3,10,Closed,56,2011-07-28 10:33:00,23.0,2011-07-28 10:34:00,23.0,B00456,Registered,'02108,1943.0,Male
4,11,Closed,64,2011-07-28 10:35:00,23.0,2011-07-28 10:36:00,23.0,B00554,Registered,'02116,1981.0,Female
5,12,Closed,12,2011-07-28 10:37:00,23.0,2011-07-28 10:37:00,23.0,B00554,Registered,'97214,1983.0,Female

## Basic Summaries

In [4]:
hubway_data.describe()

,hubway_id,duration,strt_statn,end_statn,birth_date
count,674350.000000,6.743500e+05,674336.000000,674305.000000,350644.000000
mean,381806.766276,1.560357e+03,41.175871,41.054369,1976.295322
std,219696.069920,4.028090e+04,23.326194,23.198199,10.999742
min,8.000000,-6.660000e+03,3.000000,3.000000,1932.000000
25%,191560.500000,4.050000e+02,22.000000,22.000000,1969.000000
50%,382518.500000,6.630000e+02,40.000000,40.000000,1979.000000
75%,571534.750000,1.161000e+03,54.000000,54.000000,1985.000000
max,761917.000000,1.199446e+07,141.000000,141.000000,1995.000000

## What Type Of

In [5]:
hubway_data.dtypes

hubway_id       int64
status         object
duration        int64
start_date     object
strt_statn    float64
end_date       object
end_statn     float64
bike_nr        object
subsc_type     object
zip_code       object
birth_date    float64
gender         object
dtype: object

### Go to Part 1 quiz and enter your questions. Once you are done return to the main room.